
.NavigationBar {
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.Logo {
    margin-left: 2em;
    display: inline;
    flex-direction: row;
    flex: 1;
}

.Logo h1 {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(32, 109, 211);
    display: inline;
    
}

.Logo img {
    width: 200px;
    height: 200px;
    display: inline;
    vertical-align: middle;
}

.SignUpBar {
    text-align: right;
    margin-top: 2em;
    margin-right: 2em;
    display: inline;
    flex-direction: row;
    flex: 1;
}

.SignUpBar button {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(32, 109, 211);
    display: inline;
}

.GetStarted {
    margin: auto;
    text-align: center;
    padding: 4em;
    padding-top: 16em;
}

.GetStarted h2 {
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 170%;
    color: rgb(255, 255, 255);
    margin-top: 2em;
}

.GetStarted img {
    width: 100%;
}

.GetStarted button {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    background-color: rgb(184, 174, 40);
    border-radius: 3em;
    max-width: 16em;
    width: 100%;
    height: 6em;
    margin-top: 1em;
}

.SignUp {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50em;
    margin-top: 20em;
}

.SignUp h2, .AboutUs h2, .ContactUs h2 {
    margin-bottom: 2.5em;
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 170%;
    color: rgb(32, 109, 211);
    padding-top: 2em;
}

.SignUp h3, .AboutUs h3, .ContactUs h3 {
    margin:auto;
    margin-bottom: 1em;
    text-align: left;
    width: fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    color: rgb(32, 109, 211);
}

.SignUp input {
    margin: auto;
    margin-bottom: 1.25em;
    display: block;
    border-color: rgb(32, 109, 211);
    max-width: 15em;
    width: 80%;
    font-size: 150%;
    text-align: center;
    
}

.Footer {
    display: flex;
    background-color: rgb(178, 208, 235);
    bottom: 0;
    width: 100%;
    height: fit-content;
    padding-bottom: 5em;
}

.AboutUs {
    flex: 1;
}

.ContactUs {
    flex: 1;
}

.ContactUs img {
    width: 10em;
    height: 10em;
}

.ContactUs div {
    display: block;
    margin: auto;
    text-align: center;
}

body {
    background-image: linear-gradient(rgba(5, 22, 97),transparent), url("images/birds.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 2em;
    margin: 0%;
    user-select: none;
}

a {
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(32, 109, 211);
}
